### Miscellaneous
.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.bak

### Composer
/vendor/

### IDE
.idea/

### Wordpress
/htdocs/cms/
!/htdocs/cms/.gitkeep
/htdocs/content/*/
/htdocs/content/themes/*/
!/htdocs/content/mu-plugins/
!/htdocs/content/uploads/.gitkeep
!/htdocs/content/themes/.gitkeep
!/htdocs/content/themes/base-theme/*
!/htdocs/content/themes/theme-master/*
/htdocs/content/mu-plugins/themosis-framework/
/storage/views/*
!/storage/views/.gitkeep
!/htdocs/content/plugins/.gitkeep
!/htdocs/content/plugins/advanced-custom-fields-pro/
!/htdocs/content/plugins/sitepress-multilingual-cms/
!/htdocs/content/plugins/wpml-cms-nav/

### Front
/node_modules/
/bower_components/

### Front Build
/htdocs/content/themes/theme-master/resources/assets/css/*.css
/htdocs/content/themes/theme-master/resources/assets/js/*.js
/htdocs/content/themes/theme-master/resources/views/*

#### Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

#### Packages
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#### Logs and databases
*.log
*.sql
*.sqlite
!picton.sql

### Environment Credentials
.env